<div class="row">
  <div class="col-sm-8">
    <h2>
      Posts
      <button ng-click="loadPosts()" class="btn btn-success glyphicon glyphicon-refresh pull-right"></button>
      <button ng-click="createPost()" class="btn btn-primary glyphicon glyphicon-plus pull-right"></button>
    </h2>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Created</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="post in posts">
          <td>{{post.id}}</td>
          <td><a ng-href="/post/{{post.id}}">{{post.title}}</a></td>
          <td>{{post.createdAt}}</td>
          <td>
            <button ng-click="deletePost(post.id)" class="btn btn-danger btn-xs glyphicon glyphicon-trash"></button>
            <button ng-click="showPost(post.id)" class="btn btn-primary btn-xs glyphicon glyphicon-eye-open"></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-4">
    <alerts></alerts>
    This is my right column
  </div>
</div>